{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
    <div class="post">
      <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaks }}</p>
      <p class="time_published">published: {{ post.published_date }}</p>
      {% if post.edited_date %}
        <p class="time_edited pull-right">edited: {{ post.edited_date }}</p>
      {% endif %}
      <p class="author_name">by <strong>{{ post.author }}</strong> </p>
      <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
    </div>
  {% endfor %}
{% endblock content %}
