.page-header{
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:60px;
  background-color: #202080;
  color: white;
}
.content{
  margin-left: 60px;
  padding-left:0;
  padding-right:60px;
}
h1 a{
  color: white;
}
h1 a:hover{
  color: #999999;
  text-decoration: none;
}
h2{
  color: #202080;
}
.author_name{
  color: #909090;
}
.time_published{
  margin-bottom:0px;
  color: #909090;
}
.time_edited{
  margin-bottom:0px;
  color: #909090;
  font-style: italic;
}
.post{
  margin-bottom: 50px;
}
.post-form textarea, .post-form input{
  width:100%;
}
.button_edit{
  display: inline;

}
